---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const allStatements = await getCollection("statements")
const tags = [...new Set(allStatements.map((statement) => statement.data.tags).flat())]
const pageTitle = "all tags";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags">{tags.map((tag) => (<p class="tag"><a href=`https://quistaker.github.io/galactic-gamma/tags//${tag}`>{tag}</a></p>))}</div>
</BaseLayout>

