---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "about us";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <p><strong>«The Final Statement» is an independent initiative that gathers major final statements pronounced in courtrooms of post-soviet countries.</strong></p>
  
    <h2>why we do it?</h2>
    <p>The defendant’s final statement is the emotional climax of a trial and an opportunity to declare the position openly and publicly. The ability to speak up only in the courtroom is not a rare case in many countries. Thus, the iconic final statements are to become a legacy.</p>
    <p>We want the spoken words not to drown in the news stream but to preserve them as an archive of speeches where one can find support and inspiration.</p>
    <p>We also want to emphasize the continuity between different generations of activists, politicians and human rights defenders — it’s amazing how close in spirit and matter the last statements can be while speaking with a difference of tens of years or thousands of kilometers.</p>
  
    <h2>contact us</h2>
    <p>Write an <a href="mailto:info@posledneeslovo.com">email</a> to us or send a message to our <a href="https://t.me/ne_poslednee_slovo_bot">telegram-bot</a></p>
  </main>
</BaseLayout>

<style>
  main {
      max-width: 70ch;
      margin: 0 auto;
  }
</style>








