---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Знаковые последние слова, сказанные в судах"
---
<BaseLayout pageTitle={pageTitle}>
    <main>
        <div>
            <p>
                1. После окончания прений сторон председательствующий предоставляет подсудимому последнее слово. Никакие вопросы к подсудимому во время его последнего слова не допускаются.<br>
                2. Суд не может ограничивать продолжительность последнего слова подсудимого определённым временем.
            </p>
            <p><em>Ст. 293 уголовно-процессуального кодекса РФ</em></p>
        </div>
    </main>
</BaseLayout>

<style>
    .note {
        color: rgb(161, 160, 160);
    }

    main {
        max-width: 70ch;
        margin: 0 auto;
        font-size: 1rem;
    }
</style>