---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Знаковые последние слова, сказанные в судах"
---
<BaseLayout pageTitle={pageTitle}>
    <main>
        <div>
            <p>
                1. После окончания прений сторон председательствующий предоставляет подсудимому последнее слово. Никакие вопросы к подсудимому во время его последнего слова не допускаются.<br>
                2. Суд не может ограничивать продолжительность последнего слова подсудимого определённым временем.
            </p>
            <p>Ст. 293 уголовно-процессуального кодекса РФ</p>
        </div>
        <p style="text-align: center;">---</p>

        <div>
        <p>часть первую статьи 293 после слов <em>"последнее слово"</em> дополнить словами <em>", в том числе с использованием систем видеоконференц-связи"</em>.<span class="note"> (N 251-ФЗ от 21.07.2014)</span></p>
        </div>
        <p style="text-align: center;">---</p>

        <div>
            <p>в части первой статьи 293 слова <em>", в том числе с использованием систем видеоконференц-связи"</em> исключить; <span class="note"> (N 610-ФЗ от 29.12.2022)</span></p>
        </div>
        <p style="text-align: center;">---</p>

        <div>
            <p>Подсудимый может быть удален из зала судебного заседания до окончания прений сторон либо отключен от видео-конференц-связи. При этом ему должно быть предоставлено право на последнее слово.</p>
            <p>Ст. 258 ч.3 уголовно-процессуального кодекса РФ</p>
        </div>
        <p style="text-align: center;">---</p>

        <div>
            <p>Если участники прений сторон или подсудимый в последнем слове сообщат о новых обстоятельствах, имеющих значение для уголовного дела, или заявят о необходимости предъявить суду для исследования новые доказательства, то суд вправе возобновить судебное следствие. По окончании возобновленного судебного следствия суд вновь открывает прения сторон и предоставляет подсудимому последнее слово.</p>
            <p>Ст. 294 уголовно-процессуального кодекса РФ</p>
        </div>
        <p style="text-align: center;">---</p>

        <div>
            <p>После окончания судебных прений председательствующий предоставляет подсудимому последнее слово. Вопросы к подсудимому во время его последнего слова не допускаются.</p>
            <p>Суд не может ограничивать продолжительность последнего слова подсудимого определенным временем, но председательствующий вправе останавливать подсудимого в тех случаях, когда он касается обстоятельств, явно не имеющих отношения к делу.</p>
            <p>Если в последнем слове подсудимый сообщит о новых обстоятельствах, имеющих существенное значение для дела, суд обязан возобновить судебное следствие.</p>
            <p>Ст. 297 уголовно-процессуального кодекса РСФСР</p>
        </div>
    </main>
</BaseLayout>

<style>
    .note {
        color: rgb(161, 160, 160);
    }

    main {
        max-width: 70ch;
        margin: 0 auto;
    }
</style>