---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "list of final statements"
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/post1">post1</a></li>
    <li><a href="/posts/Арамян Армен Варданович">Арамян Армен Варданович</a></li>
    <li><a href="/posts/Гутникова Алла Михайловна">Гутникова Алла Михайловна</a></li>
    <li><a href="/posts/Даниэль Юлий Маркович">Даниэль Юлий Маркович</a></li>
    <li><a href="/posts/Джемилев Мустафа Абдулджемиль">Джемилев Мустафа Абдулджемиль</a></li>
  </ul>
</BaseLayout>