---
import Social from "./Social.astro"
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        <Social address="t.me" username="ne_poslednee_slovo" label="telegram"/>
        <Social address="instagram.com" username="the.final.statement" label="instagram_En"/>
        <Social address="instagram.com" username="poslednee_slovo_" label="instagram_Ru"/>
    </p> 
</footer>

