---
---
<footer>
    <h2>social media</h2>
    <p>
        <a href="https://t.me/ne_poslednee_slovo">telegram, </a>
        <a href="https://www.instagram.com/the.final.statement">instagram_En, </a>
        <a href="https://www.instagram.com/poslednee_slovo_">instagram_Ru</a>
    </p> 
</footer>