---
---
<div class="nav-links">
    <a href="/galactic-gamma/">home</a>
    <a href="/galactic-gamma/list/">list of statements</a>
    <a href="/galactic-gamma/tags/">tags</a>
    <a href="/galactic-gamma/about/">about</a>
</div>